rules:
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Architecture\SingleClassPerFileRule
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Restrictions\DisallowAnonymousFunctionRule
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Restrictions\DisallowLogicalNotRule

parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	tmpDir: var/cache/phpstan
	excludePaths:
		- tests/Unit/PHPStan/Rules/Fixtures
