rules:
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Architecture\SingleClassPerFileRule
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Restrictions\DisallowAnonymousFunctionRule
	- SquidIT\PhpCodingStandards\PHPStan\Rules\Restrictions\DisallowLogicalNotRule

parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	tmpDir: var/cache/phpstan
	excludePaths:
		- tests/Unit/PHPStan/Rules/Architecture/Fixtures/SingleClassPerFile
		- tests/Unit/PHPStan/Rules/Architecture/Fixtures/ReadonlyClassPromotion
	ignoreErrors:
		-
			identifier: squidit.restrictions.disallowAnonymousFunction
			path: tests/Unit/PHPStan/Rules/Restrictions/Fixtures/DisallowAnonymousFunction/Invalid/*
		-
			identifier: squidit.restrictions.disallowLogicalNot
			path: tests/Unit/PHPStan/Rules/Restrictions/Fixtures/DisallowLogicalNot/Invalid/*
		-
			identifier: property.unused
			path: tests/Unit/PHPStan/Rules/Naming/Fixtures/TypeSuffixMismatch/*
		-
			identifier: property.onlyWritten
			path: tests/Unit/PHPStan/Rules/Naming/Fixtures/TypeSuffixMismatch/*
		-
			identifier: void.pure
			path: tests/Unit/PHPStan/Rules/Naming/Fixtures/TypeSuffixMismatch/*
