parameters:
	scanFiles:
		- Fixtures/TypeSuffixMismatch/Invalid/FooData.php
		- Fixtures/TypeSuffixMismatch/Invalid/BarData.php
		- Fixtures/TypeSuffixMismatch/Invalid/ChannelInterface.php
		- Fixtures/TypeSuffixMismatch/Invalid/DenyListRegression/DenyListedInterface.php
		- Fixtures/TypeSuffixMismatch/Invalid/DenyListRegression/DenyListedConcreteClass.php
		- Fixtures/TypeSuffixMismatch/Valid/FooData.php
		- Fixtures/TypeSuffixMismatch/Valid/BarData.php
		- Fixtures/TypeSuffixMismatch/Valid/ChannelInterface.php
