name: "PHP Code Quality"

on:
  pull_request:

jobs:
  php-cs-fixer:
    name: "PHP-CS-Fixer"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        php-version:
          - "8.4"
          - "8.5"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: "Cache dependencies"
        uses: "actions/cache@v4"
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-${{ hashFiles('**/composer.lock') }}"
          restore-keys: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-"

      - name: "Install dependencies"
        run: composer install --prefer-dist --no-progress

      - name: "Check coding standards"
        if: ${{ matrix.php-version != '8.5' }}
        run: composer run-script cs:dry-run

      - name: "Check PHPStan"
        run: composer run-script analyse

      - name: "Run test suite"
        run: composer run-script test:unit:coverage
        env:
          XDEBUG_MODE: coverage

      - name: "Validate test coverage"
        uses: "5monkeys/cobertura-action@v14"
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        with:
          path: coverage/coverage.xml
          minimum_coverage: 80
          skip_covered: true
          fail_below_threshold: 80
          only_changed_files: true
          show_class_names: true
          show_missing: true
